.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20%;
    background-color: white;
    border: 1px solid #333;
    padding: 10px 30px 20px;
    box-shadow: #888 1px 2px;
    text-align: center;
}

.overlay-close {
    position: absolute;
    top: 10px;
    left: 10px;
}