.faded-out input:not(.overlay-input), 
.faded-out button:not(.overlay-input),
.faded-out textarea:not(.overlay-input){
    opacity: 0.2;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-delete {
    position: relative;
    left: -130px;
    top: 10px;
}